<div class="grid">

  <div class="grid__item post-large--two-thirds push--post-large--one-sixth">

    <div class="section-header">
      <h1 class="section-header--title">{{ page.title }}</h1>
    </div>

    <div class="rte">
      
      <div class="derez-row">
      
        <div class="derez-col">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pellentesque erat sed accumsan sagittis. Nulla erat augue, accumsan in massa sit amet, imperdiet sollicitudin lectus. Phasellus mattis tortor et tincidunt tincidunt. Phasellus sed magna sed nulla sollicitudin pharetra. Aenean magna lectus, pharetra et vestibulum vel, laoreet et enim. Donec id sodales dolor, et euismod massa. Suspendisse porta risus sit amet ex commodo fermentum. In eget ligula eget massa suscipit egestas eget in tortor. Aenean quam diam, ornare ut aliquet vel, blandit nec augue. Sed arcu diam, fermentum a lorem id, sollicitudin molestie purus. Suspendisse vehicula, sapien non ultricies suscipit, dolor dolor hendrerit dui, quis lobortis sem orci eget mi. Etiam vitae mollis turpis, quis hendrerit nibh. Praesent pretium nisi mauris, eget venenatis urna rhoncus sed. Ut suscipit egestas interdum. Duis id orci sagittis, lacinia lacus vitae, egestas mi.
			</p>
        </div>
        <div class="derez-col center-content hover-img">
        </div>
        <div class="derez-col">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pellentesque erat sed accumsan sagittis. Nulla erat augue, accumsan in massa sit amet, imperdiet sollicitudin lectus. Phasellus mattis tortor et tincidunt tincidunt. Phasellus sed magna sed nulla sollicitudin pharetra. Aenean magna lectus, pharetra et vestibulum vel, laoreet et enim. Donec id sodales dolor, et euismod massa. Suspendisse porta risus sit amet ex commodo fermentum. In eget ligula eget massa suscipit egestas eget in tortor. Aenean quam diam, ornare ut aliquet vel, blandit nec augue. Sed arcu diam, fermentum a lorem id, sollicitudin molestie purus. Suspendisse vehicula, sapien non ultricies suscipit, dolor dolor hendrerit dui, quis lobortis sem orci eget mi. Etiam vitae mollis turpis, quis hendrerit nibh. Praesent pretium nisi mauris, eget venenatis urna rhoncus sed. Ut suscipit egestas interdum. Duis id orci sagittis, lacinia lacus vitae, egestas mi.
			</p>
        </div>
        
      </div>
      
    {% comment %}  
      {{ page.content }}
    {% endcomment %}
    
    </div>

  </div>

</div>
